<header class="site-header">

  <div class="wrapper">

    <a class="site-title logo" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ '/about' | prepend: site.baseurl }}">{{ site.data.translations[page.lang].about }}</a>
        {% assign posts=site.posts | where:"date", page.date%}
        {% for post in posts %}
          <a class="page-link {{ post.lang }}" href="{{ post.url }}">{{ post.lang }}</a>
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
